.grid-container {
    height: 600px;
    min-height: 300px;
    width: 1150px;
    padding: 10px;
    margin: 10px;
    display: flex;
    overflow: scroll;
    flex-flow: wrap;
}

.column {
    /* flex-flow: column wrap; */
    height: auto;
    overflow: scroll;
    width: 170px;
    padding: 5px;
    margin: 5px 4px 40px 4px;
    border: 1px solid grey;
}


.column-title {
    background-color: #f4f5f7;
    color: #7882a1;
    font-weight: bold;
    padding: 8px;
    height: 60px;

}

.column-body {
    height: auto;
    margin-bottom: 40px;
}


.column::-webkit-scrollbar {
    display: none;
}

.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
}