.grid-container {
    padding: 40px;
    height: 500px;
}

.column {
    flex-direction: column;
    float: left;
    width: 170px;
    padding: 5px;
    margin: 5px 4px 40px 4px;
    border: 1px solid grey;
    min-height: 200px;
    overflow-y: scroll;
    flex-wrap: wrap;
}


.column-title {
    background-color: #f4f5f7;
    color: #7882a1;
    font-weight: bold;
    padding: 8px;
    height: 60px;
    position: sticky;
    justify-content: center;
}

.column-body {
    height: auto;
    margin-bottom: 40px;
}


.column::-webkit-scrollbar {
    display: none;
}

.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
}